* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  list-style-type: none;
}

/* Nav-Bar */

.navbar {
  background: rgb(43, 44, 44);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  color: green;
  /* background-color: #ff8177; */
  /* background: linear-gradient(to bottom, #080808, #14d814); */
  background-size: 100%;
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  transition: all 0.3s ease;
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-links:hover {
  color: green;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}

@media screen and (max-width: 615px) {
  .navbar-links {
    display: none;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (max-width: 382px) {
  #navbar-logo {
  font-size: 1.7em;
}
}
/* Header */

.landing-page {
  background-color: rgb(248, 246, 246);
  padding: 0 60px;
  color: black;
}

.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.left-column h1 {
  font-size: 90px;
}

.left-column p {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

#header-line {
  color: rgb(82, 79, 79);
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .landing-page {
    padding: 30px;
  }

  .landing-container {
    grid-template-columns: 1fr;
  }

  .left-column h1 {
    font-size: 70px;
    text-align: center;
  }
}

/* ABOUT ME */

.main-section {
  padding: 60px 60px;
  background-color: rgb(209, 206, 206);
  color: black;
}

.main-container {
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container h1 {
  font-size: 110px;
  color: black;
  margin-bottom: 32px;
}

.main-text,
.main-text2 {
  padding-right: 20px;
}

.main-text h2,
.main-text2 h2 {
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.main-text p,
.main-text2 p {
  line-height: 2.2;
}

.about-me-img {
  width: 430px;
  height: 600px;
}

@media screen and (max-width: 1000px) {
  .main-text h2,
  .main-text2 h2 {
    margin-top: 30px;
    flex-direction: column;
  }
}

.main-section {
  padding: 30px;
}

.main-content {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main-text2 {
  margin-top: 40px;
}

.main-container h1 {
  font-size: 70px;
}

@media screen and (max-width: 468px) {
  .main-text h2,
  .main-text2 h2 {
    margin-top: 30px;
  }
}

#about-me-btn {
  color: grey;
  border: none;
  opacity: 50%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  float: center;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  background: black;
  transition: all 0.3s ease;
  outline: none;
}

#about-me-btn:hover {
  background-color: rgb(29, 28, 28);
  opacity: 99%;
  border: solid;
  color: whitesmoke;
  border-color: rgb(172, 170, 170);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Skills */

.skills {
  background: rgb(28, 29, 29);
  color: rgb(219, 214, 214);
  position: relative;
}

.skills-container {
  background-attachment: black;
  padding-top: 100px;
}

.skills-container h1 {
  color: rgb(219, 214, 214);
  text-align: center;
  font-size: 100px;
}

.skills-flex {
  text-align: center;
}

.list-item {
  margin: 30px 0;
}

.skills-desc {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#right-list {
  color: rgb(224, 220, 220);
  font-size: 30px;
  background-color: rgb(44, 42, 42);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 50px;
}

#dev-icon {
  font-size: 100px;
}

#right-list p {
  color: rgb(226, 200, 200);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .skills-flex {
    display: flex;
    flex-direction: column;
  }

  .skills-desc {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 468px) {
  /* .skills-container {
    text-align: center;
    margin-bottom: 100px;
  } */

  .skills-left {
    padding: 0 24px;
  }

  .skills-text {
    margin-top: 40px;
  }

  .left-list {
    margin-right: 500px;
  }
}

/* PROJECTS */
.projects {
  background: rgb(17, 1, 19);
  color: whitesmoke;
}

.projects-container {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.projects-container h1 {
  font-size: 110px;
  color: white;
  margin-bottom: 32px;
}

.projects-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.proj-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.projects-right {
  margin-left: 10px;
}

.projects-right h2 {
  margin-bottom: 40px;
  font-size: 30px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
}

.projects-right p {
  margin-bottom: 50px;
  line-height: 2.5;
  color: rgb(212, 204, 204);
}

.projects-right a {
  color: white;
  opacity: 70%;
  background-color: rgb(2, 85, 2);
  text-decoration: none;
  border: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  outline: none;
  transition: all 0.3s ease;
}

.projects-right a:hover {
  border-color: greenyellow;
  padding: 15px 15px 15px 15px;
  opacity: 99%;
  transition: all 0.3s ease;
}

#proj-slide-text {
  color: orangered;
}

.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 32px 64px;
}

@media screen and (max-width: 1368px) {
  .projects-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    padding: 30px;
  }

  .projects-container {
    font-size: 30px;
  }

  .projects-main {
    grid-template-columns: 1fr;
  }

  .projects-container {
    padding-left: 0px;
  }

  .projects-right {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 468px) {
  .projects {
    padding: 10px;
  }

  .projects-container h1 {
    font-size: 20px;
  }
}
/* -----------------SLIDING CARDS--------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.card-list {
  display: flex;
  overflow-x: scroll;
  margin-top: 50px;
  padding-top: 30px;
}

.card {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.card-list::-webkit-scrollbar {
  width: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card h2 {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.tags a {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
  background-color: rgb(2, 85, 2);
  opacity: 50%;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  transition: all 0.3s ease;
}

.tags a:hover {
  opacity: 99%;
  color: whitesmoke;
  transition: all 0.3s ease;
}

#slide-lang {
  color: orangered;
}
@media screen and (max-width: 1000px) {
  .card {
    font-size: 20px;
    height: 600px;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-items: center;
  }

  card:hover {
    transform: translateY(20rem);
  }

  .card:hover ~ .card {
    transform: translateX(10px);
  }

  .card:not(:first-child) {
    margin-left: 0px;
  }

  .card-list::-webkit-scrollbar-track {
    background: linear-gradient(
      90deg,
      #201c29,
      #201c29 1px,
      #17141d 0,
      #17141d
    );
  }
}

.card-info img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

/* -------------------------------------------------------- */

/* CONTACT PAGE*/

.footer-section {
  padding: 60px 60px;
  background-color: rgb(209, 206, 206);
  color: black;
}

.footer-container {
  padding-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container h1 {
  margin-top: 30px;
  font-size: 110px;
  color: black;
  margin-bottom: 32px;
}

.contact-text {
  font-size: 60px;
  color: #16070c;
}

#form-btn {
  color: #1c142e;
  transition: all 0.3s ease;
}

#form-btn:hover {
  color: green;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  #email {
    font-size: 40px;
  }
}

@media screen and (max-width: 541px) {
  #email {
    font-size: 25px;
  }
  .footer-container h1 {
    font-size: 50px;
  }
}
