body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(17, 1, 19);
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
}

#video {
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
}

.video-text {
  color: rgb(180, 184, 187);
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

h1 {
  font-size: 30px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
}
p {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 15px 5px 15px 5px;
}
 a {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
  background-color: rgb(2, 85, 2);
  opacity: 50%;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  transition: all 0.3s ease;
}

 a:hover {
  opacity: 99%;
  color: whitesmoke;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1143px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
